@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-It.eot");
  src: url("../fonts/SourceSansPro-It.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-It.woff") format("woff"), url("../fonts/SourceSansPro-It.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-ExtraLight.eot");
  src: url("../fonts/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-ExtraLight.woff") format("woff"), url("../fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-Semibold.eot");
  src: url("../fonts/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Semibold.woff") format("woff"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.row.reverse {
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

[class^="col-"], [class*=" col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.small-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  -webkit-flex-basis: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.small-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  -webkit-flex-basis: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.small-3 {
  -ms-flex-preferred-size: 25%;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.small-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  -webkit-flex-basis: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.small-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  -webkit-flex-basis: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.small-6 {
  -ms-flex-preferred-size: 50%;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.small-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  -webkit-flex-basis: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.small-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  -webkit-flex-basis: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.small-9 {
  -ms-flex-preferred-size: 75%;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.small-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  -webkit-flex-basis: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.small-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  -webkit-flex-basis: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.small-12 {
  -ms-flex-preferred-size: 100%;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 45rem) {
  .medium-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .medium-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .medium-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .medium-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .medium-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .medium-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .medium-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .medium-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .medium-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .medium-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .medium-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .medium-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 65rem) {
  .col-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    -webkit-flex-basis: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    -webkit-flex-basis: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-3 {
    -ms-flex-preferred-size: 25%;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    -webkit-flex-basis: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    -webkit-flex-basis: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-6 {
    -ms-flex-preferred-size: 50%;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    -webkit-flex-basis: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    -webkit-flex-basis: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-9 {
    -ms-flex-preferred-size: 75%;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    -webkit-flex-basis: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    -webkit-flex-basis: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-12 {
    -ms-flex-preferred-size: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.from-small,
.from-medium,
.from-large {
  display: none;
}

.offset-small-1 {
  margin-left: 8.3333333333%;
}

.offset-small-2 {
  margin-left: 16.6666666667%;
}

.offset-small-3 {
  margin-left: 25%;
}

.offset-small-4 {
  margin-left: 33.3333333333%;
}

.offset-small-5 {
  margin-left: 41.6666666667%;
}

.offset-small-6 {
  margin-left: 50%;
}

.offset-small-7 {
  margin-left: 58.3333333333%;
}

.offset-small-8 {
  margin-left: 66.6666666667%;
}

.offset-small-9 {
  margin-left: 75%;
}

.offset-small-10 {
  margin-left: 83.3333333333%;
}

.offset-small-11 {
  margin-left: 91.6666666667%;
}

.offset-small-12 {
  margin-left: 100%;
}

@media (min-width: 36rem) {
  .to-small {
    display: none;
  }
  .from-small {
    display: inherit;
  }
}

@media (min-width: 45rem) {
  .to-medium {
    display: none;
  }
  .from-medium {
    display: inherit;
  }
  .offset-medium-1 {
    margin-left: 8.3333333333%;
  }
  .offset-medium-2 {
    margin-left: 16.6666666667%;
  }
  .offset-medium-3 {
    margin-left: 25%;
  }
  .offset-medium-4 {
    margin-left: 33.3333333333%;
  }
  .offset-medium-5 {
    margin-left: 41.6666666667%;
  }
  .offset-medium-6 {
    margin-left: 50%;
  }
  .offset-medium-7 {
    margin-left: 58.3333333333%;
  }
  .offset-medium-8 {
    margin-left: 66.6666666667%;
  }
  .offset-medium-9 {
    margin-left: 75%;
  }
  .offset-medium-10 {
    margin-left: 83.3333333333%;
  }
  .offset-medium-11 {
    margin-left: 91.6666666667%;
  }
  .offset-medium-12 {
    margin-left: 100%;
  }
}

@media (min-width: 65rem) {
  .to-large {
    display: none;
  }
  .from-large {
    display: inherit;
  }
  .offset-1 {
    margin-left: 8.3333333333%;
  }
  .offset-2 {
    margin-left: 16.6666666667%;
  }
  .offset-3 {
    margin-left: 25%;
  }
  .offset-4 {
    margin-left: 33.3333333333%;
  }
  .offset-5 {
    margin-left: 41.6666666667%;
  }
  .offset-6 {
    margin-left: 50%;
  }
  .offset-7 {
    margin-left: 58.3333333333%;
  }
  .offset-8 {
    margin-left: 66.6666666667%;
  }
  .offset-9 {
    margin-left: 75%;
  }
  .offset-10 {
    margin-left: 83.3333333333%;
  }
  .offset-11 {
    margin-left: 91.6666666667%;
  }
  .offset-12 {
    margin-left: 100%;
  }
}

.start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -webkit-align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first {
  -webkit-order: -1;
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -webkit-order: 1;
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

.self-start {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.self-end {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}

.columns div:nth-child(even) {
  padding-right: 0.625rem;
}

.columns div:nth-child(odd) {
  padding-left: 0.625rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro";
  color: #000;
  overflow-x: hidden;
  font-size: 17px;
}

a {
  color: initial;
  text-decoration: none;
}

p, blockquote, li {
  font-size: 1em;
  line-height: 1.5;
}

p {
  margin: 0 0 1em 0;
}

p:last-child, p:only-child {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro";
  font-weight: 700;
  text-transform: normal;
  color: #000;
}

h1 {
  font-size: 2em;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

figure figcaption {
  text-align: center;
}

.Alert {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.86);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.Alert .Message {
  width: 18.75rem;
  background: #fafafa;
  padding: 1.25rem 2.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
}

.Alert .Message a.close {
  float: right;
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 40px;
  text-align: right;
  color: #05347a;
}

.Alert .Message p {
  display: block;
  font-size: 1.1rem;
  line-height: 20px;
  font-weight: 400;
  margin: 24px 0 10px 0;
  color: #727272;
}

.Alert .Message h2 {
  font-size: 1.5rem;
  font-weight: 500;
  color: #212121;
}

.Alert.confirm .Message p {
  margin: 0 0 20px 0;
}

.Alert.confirm .Message a {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  background: #798ea1;
  margin: 0 2%;
  width: 46%;
}

.Alert.confirm .Message a:hover {
  background: #002444;
}

.Container {
  margin: auto;
  width: 100%;
  max-width: 73.125rem;
  padding: 0 1.875rem;
}

.Logo {
  padding: 1rem 0;
  margin: 0;
  max-width: 7.1875rem;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1.625rem;
  height: 1.625rem;
  margin-bottom: 1.5625rem;
}

.icon a {
  display: block;
  height: 100%;
}

.Menu li {
  padding-right: 0.9375rem;
}

@media (min-width: 45rem) {
  .Menu li {
    padding-right: 2.8125rem;
  }
}

.Menu-fixed nav {
  display: none;
  background: rgba(0, 79, 143, 0.95);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
}

.Menu-fixed.gray nav {
  background: rgba(76, 76, 76, 0.95);
}

.Menu-fixed ul {
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.Menu-fixed li {
  width: 100%;
  text-transform: uppercase;
}

.Menu-fixed li a {
  border-bottom: 1px solid white;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px 0 5px;
  color: #fff;
}

.Menu-fixed li a:hover {
  border-color: #f6b11e;
  color: #f6b11e;
}

.menu-item-out {
  display: block !important;
}

@media (min-width: 45rem) {
  .menu-item-out {
    display: none !important;
  }
}

.menu-item-out-movile {
  display: none !important;
}

@media (min-width: 45rem) {
  .menu-item-out-movile {
    display: block !important;
  }
}

.menu-item-out-tablet {
  display: none !important;
}

@media (min-width: 65rem) {
  .menu-item-out-tablet {
    display: block !important;
  }
}

.Hamburguer, .Hamburguer2 {
  display: block;
  position: relative;
  width: 2.0625rem !important;
  height: 1.4375rem !important;
}

.Hamburguer span,
.Hamburguer span:after, .Hamburguer2 span,
.Hamburguer2 span:after {
  display: block;
  height: 0.3125rem;
  background: white;
}

.Hamburguer span, .Hamburguer2 span {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  position: absolute;
  right: 0;
  width: 1.5625rem;
}

.Hamburguer span:after, .Hamburguer2 span:after {
  content: "";
  width: 0.3125rem;
  position: absolute;
  left: -7px;
}

.Hamburguer span:nth-child(2), .Hamburguer2 span:nth-child(2) {
  top: 50%;
  margin-top: -0.15625rem;
}

.Hamburguer span:nth-child(3), .Hamburguer2 span:nth-child(3) {
  bottom: 0;
}

.Hamburguer.open, .Hamburguer2.open {
  position: relative;
  margin-right: 5px;
  z-index: 600;
  width: 2.0625rem;
}

.Hamburguer.open span, .Hamburguer2.open span {
  top: 50%;
  margin-top: -0.15625rem;
  width: 100%;
}

.Hamburguer.open span:after, .Hamburguer2.open span:after {
  display: none;
}

.Hamburguer.open span:nth-child(1), .Hamburguer2.open span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.Hamburguer.open span:nth-child(2), .Hamburguer2.open span:nth-child(2) {
  opacity: 0;
}

.Hamburguer.open span:nth-child(3), .Hamburguer2.open span:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}

.show {
  display: block !important;
}

.no-padding {
  padding: 0;
}

.Form, .Form2 {
  width: 100%;
  margin: auto;
}

.Form label, .Form2 label {
  padding: 0.3125rem 0.9375rem;
}

.Form input[type='text'],
.Form input[type='number'], .Form2 input[type='text'],
.Form2 input[type='number'] {
  width: 100%;
  height: 2.1875rem;
}

.Form textarea, .Form2 textarea {
  width: 100%;
  scallable: false;
  height: 12.5rem;
  padding: 0.625rem !important;
}

.Form input[type='text'],
.Form input[type='number'] {
  padding: 0 2.3125rem;
  font-size: .97rem;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.625rem;
}

.Form2 {
  font-size: 1.2rem;
}

.Form2 label.required .text:after {
  content: " * ";
  color: #05347a;
}

.Form2 label span.text {
  display: inline-block;
  padding: 0.625rem 0;
}

.Form2 input[type='text'],
.Form2 input[type='number'],
.Form2 textarea {
  outline-color: #05347a;
  background: #ebebeb;
  border: none;
  padding: 0 0.625rem;
}

.Form2 input[type='number'] {
  text-align: center;
}

.Form .Form-Control {
  position: relative;
}

.Form .Form-Control .name {
  font-size: .97rem;
  position: absolute;
  color: #AAA;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 26px;
  background: white;
}

.Form .Form-Control .icon {
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 50%;
  margin-top: -15px !important;
  color: black;
  width: 40px !important;
  padding: 0 10px !important;
}

.Form .Form-Control .placeholder {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  height: 40px;
  text-align: center;
}

.Button {
  width: 16.25rem;
  height: 2.5rem;
  background: #05347a;
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 200;
  cursor: pointer;
  margin: 15px 0px 0px 0px;
}

@media (min-width: 45rem) {
  .Button {
    margin: 55px 0;
  }
}

.Button.small {
  width: auto;
  height: auto;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 3px 15px;
  font-weight: 400;
}

.Button.yellow {
  background: #f6b11e;
}

.Button.right {
  float: right;
}

.Button.disabled {
  background: gray;
  opacity: .5;
  cursor: default;
}

.DropFiles {
  width: 100%;
  background: #ebebeb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.DropFiles .DropFiles-inside {
  position: relative;
  padding: 10px;
  text-align: center;
  color: gray;
  cursor: pointer;
  width: 100%;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  border: dashed 3px gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.DropFiles .DropFiles-inside span {
  line-height: 30px;
}

.DropFiles .DropFiles-inside .rectangle {
  background: white;
  border: 1px solid #C3C3C3;
  padding: 5px 10px;
  display: inline-block;
  margin-top: 10px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.DropFiles .DropFiles-inside.Drag {
  color: #05347a;
  border-color: #05347a;
}

.DropFiles .DropFiles-inside.Drag svg g {
  fill: #05347a;
}

.DropFiles .DropFiles-inside #files, .DropFiles .DropFiles-inside .drop-files-input {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  display: block;
  width: 100%;
  height: 100%;
}

.FilesPreview {
  overflow: hidden;
}

.FilesPreview .File {
  padding: 10px;
  margin: 20px 20px 0 0;
  height: 100px;
  float: left;
  cursor: move;
  border: 1px dotted gray;
  background-color: #fff;
}

.FilesPreview .File:last-child {
  margin-right: 0;
}

.FilesPreview .File img {
  height: 100%;
  width: auto;
}

.DropFilesSmall {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  margin: 15px 0;
}

.DropFilesSmall .DropFiles-inside {
  position: relative;
  padding: 5px;
  text-align: left;
  color: gray;
  cursor: pointer;
  width: 100%;
  height: -webkit-calc(100% - 40px);
  height: calc(100% - 40px);
  border: dashed 2px gray;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
  -webkit-justify-content: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  min-height: 50px;
}

.DropFilesSmall .DropFiles-inside span {
  line-height: 30px;
  padding: 5px;
}

.DropFilesSmall .DropFiles-inside .rectangle {
  background: #054CCF;
  color: white;
  border: 1px solid #C3C3C3;
  padding: 3px 10px;
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  min-height: 70px;
  min-width: 100px;
}

.DropFilesSmall .DropFiles-inside.Drag {
  color: #05347a;
  border-color: #05347a;
}

.DropFilesSmall .DropFiles-inside.Drag svg g {
  fill: #05347a;
}

.DropFilesSmall .DropFiles-inside.active {
  border: dashed 2px green;
}

.DropFilesSmall .DropFiles-inside.active .rectangle {
  background-color: green;
}

.DropFilesSmall .DropFiles-inside #files, .DropFilesSmall .DropFiles-inside .drop-files-input {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background: red;
  display: block;
  width: 100%;
  height: 100%;
}

#boton-enviar {
  border: none;
  background: url(/img/boton-enviar.jpg) no-repeat;
  width: 154px;
  height: 73px;
  cursor: pointer;
}

.Video {
  display: none;
}

.Video div.Video-child {
  width: 100%;
  position: relative;
}

.Video div.Video-child .play, .Video div.Video-child .stop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Video div.Video-child .play img, .Video div.Video-child .stop img {
  width: 4.375rem;
}

svg.blue g {
  fill: #05347a;
}

#Flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.bounce {
  -webkit-animation: bounce 3s infinite;
       -o-animation: bounce 3s infinite;
          animation: bounce 3s infinite;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  40% {
    -webkit-transform: translateY(-1.25rem) rotate(90deg);
            transform: translateY(-1.25rem) rotate(90deg);
  }
  60% {
    -webkit-transform: translateY(-0.625rem) rotate(90deg);
            transform: translateY(-0.625rem) rotate(90deg);
  }
  90% {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  100% {
    -webkit-animation-play-state: running;
            animation-play-state: running;
  }
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -o-transform: translateY(0) rotate(90deg);
       transform: translateY(0) rotate(90deg);
  }
  40% {
    -o-transform: translateY(-1.25rem) rotate(90deg);
       transform: translateY(-1.25rem) rotate(90deg);
  }
  60% {
    -o-transform: translateY(-0.625rem) rotate(90deg);
       transform: translateY(-0.625rem) rotate(90deg);
  }
  90% {
    -o-animation-play-state: paused;
       animation-play-state: paused;
  }
  100% {
    -o-animation-play-state: running;
       animation-play-state: running;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(90deg);
         -o-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
  40% {
    -webkit-transform: translateY(-1.25rem) rotate(90deg);
         -o-transform: translateY(-1.25rem) rotate(90deg);
            transform: translateY(-1.25rem) rotate(90deg);
  }
  60% {
    -webkit-transform: translateY(-0.625rem) rotate(90deg);
         -o-transform: translateY(-0.625rem) rotate(90deg);
            transform: translateY(-0.625rem) rotate(90deg);
  }
  90% {
    -webkit-animation-play-state: paused;
         -o-animation-play-state: paused;
            animation-play-state: paused;
  }
  100% {
    -webkit-animation-play-state: running;
         -o-animation-play-state: running;
            animation-play-state: running;
  }
}

#PayForm {
  overflow-y: scroll;
}

body {
  overflow: hidden;
}

#preloader {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top .5s ease;
  -o-transition: top .5s ease;
  transition: top .5s ease;
}

#preloader .image {
  width: 90%;
  max-width: 300px;
}

#preloader.hide {
  top: -120%;
}

#preloader #signal-1,
#preloader #signal-2,
#preloader #signal-3 {
  fill: #EFA43A;
  opacity: .9;
  -webkit-animation: preloader 1.5s infinite;
       -o-animation: preloader 1.5s infinite;
          animation: preloader 1.5s infinite;
}

#preloader #signal-1 {
  -webkit-animation-delay: .7s;
       -o-animation-delay: .7s;
          animation-delay: .7s;
}

#preloader #signal-2 {
  -webkit-animation-delay: .35s;
       -o-animation-delay: .35s;
          animation-delay: .35s;
}

@-webkit-keyframes preloader {
  50% {
    fill: #EFA43A;
  }
  100% {
    fill: white;
  }
}

@-o-keyframes preloader {
  50% {
    fill: #EFA43A;
  }
  100% {
    fill: white;
  }
}

@keyframes preloader {
  50% {
    fill: #EFA43A;
  }
  100% {
    fill: white;
  }
}

.Header {
  margin: auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header a, .Header q {
  color: #fff;
}

.Header q:before,
.Header q:after {
  visibility: hidden;
}

.Header .BarNav {
  min-height: 6.25rem;
}

.Header .icon {
  margin: 0;
  padding-right: 1.25rem;
}

.Header .icon img {
  height: 100%;
}

.Header .Services {
  padding-bottom: 2.375rem;
  color: #fff;
}

.Header .Services .Images, .Header .Services .Leyend {
  text-align: center;
  padding: 3.125rem;
}

.Header .Services .Leyend {
  font-size: 1.5rem;
}

.Header .Services .Service-image {
  text-align: center;
  width: 9.375rem;
}

.Header .Services .Arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 1.5625rem;
  height: 1.5625rem;
  font-weight: 800;
  margin: auto;
}

.home .backgroundVideo {
  background: url("../../img/bogota-6.jpg") center no-repeat;
  background-size: cover;
}

.Header_auth {
  margin: auto;
  min-height: auto !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Header_auth a, .Header_auth q {
  color: #fff;
}

.Header_auth q:before,
.Header_auth q:after {
  visibility: hidden;
}

.Header_auth .BarNav {
  min-height: 6.25rem;
}

.Header_auth .icon {
  margin: 0;
  padding-right: 1.25rem;
}

.Header_auth .icon img {
  height: 100%;
}

.Header_auth .Services {
  padding-bottom: 2.375rem;
  color: #fff;
}

.Header_auth .Services .Images, .Header_auth .Services .Leyend {
  text-align: center;
  padding: 3.125rem;
}

.Header_auth .Services .Leyend {
  font-size: 1.5rem;
}

.Header_auth .Services .Service-image {
  text-align: center;
  width: 9.375rem;
}

.Header_auth .Services .Arrow {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 1.5625rem;
  height: 1.5625rem;
  font-weight: 800;
  margin: auto;
}

.backgroundVideo {
  overflow: hidden;
  background: #000;
  width: 100%;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
}

.backgroundVideo .cover {
  opacity: .4;
  display: block;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
}

/************** GIRAR IMAGEN ***************/
.Images {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-perspective: 1000;
  perspective: 1000;
  margin: 0 auto;
  padding-bottom: 2.375rem;
  color: #fff;
}

@media (min-width: 45rem) {
  .Images {
    width: 600px;
  }
}

.Images .Service-image {
  width: 120px;
  margin: 0;
  text-align: center;
}

@media (min-width: 45rem) {
  .Images .Service-image {
    width: 150px;
  }
}

.Images a {
  position: relative;
}

@media (min-width: 45rem) {
  .Images a:hover .circle {
    -webkit-transform: rotate3d(0, 45, 0, 180deg);
    transform: rotate3d(0, 45, 0, 180deg);
  }
  .Images a:hover .front {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
    z-index: 0;
  }
}

.circle {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
     transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 140px;
}

@media (min-width: 45rem) {
  .circle {
    height: 170px;
  }
}

.circle .front, .circle .back {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 45rem) {
  .circle .front, .circle .back {
    width: 150px;
    height: 150px;
  }
}

.circle .back {
  position: relative;
  -webkit-transform: rotate3d(0, 45, 0, 180deg);
  -o-transform: rotate3d(0, 45, 0, 180deg);
  transform: rotate3d(0, 45, 0, 180deg);
}

.circle .back img {
  opacity: .8;
}

.circle .back span {
  padding: 2.1875rem 0.9375rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media (min-width: 45rem) {
  .circle .back span {
    display: block;
  }
}

.circle .back span svg path {
  fill: black;
}

.circle .front {
  z-index: 2;
}

.arrow {
  position: absolute;
  top: 30%;
  margin-top: -1.8rem;
}

@media (min-width: 65rem) {
  .arrow {
    top: 50%;
  }
}

.arrow .Service-image {
  width: 2.5rem !important;
  opacity: .7;
}

.arrow .Service-image:hover {
  opacity: 1;
}

@media (min-width: 45rem) {
  .arrow .Service-image {
    width: 3.5rem !important;
  }
}

.arrow.right {
  right: 0;
}

.arrow.left {
  left: 0;
}

#titulohome {
  text-align: center;
  margin: -20px auto 10px;
  font-size: 1.9em;
}

@media (min-width: 45rem) {
  #titulohome {
    text-align: center;
    margin: 0px auto 20px;
    font-size: 2.3em;
  }
}

@media (min-width: 65rem) {
  #titulohome {
    text-align: center;
    margin: 20px auto;
    font-size: 2.3em;
  }
}

.Footer {
  background: #002444 url("../../img/footer.jpg") repeat-x center center;
  color: #fff;
  padding: 0 1.875rem;
  height: 17.8125rem;
  margin-top: 1.875rem;
}

.Footer > section {
  height: 100%;
}

.Footer a {
  color: #fff;
}

.Footer .Menu-footer,
.Footer .Copy {
  font-size: .8rem;
  margin-bottom: 0.9375rem;
}

.Footer .Menu-footer li {
  padding: 0 15px;
  border-right: 1px solid #fff;
}

.carrousel-container {
  width: 95%;
  margin: 0px auto 0 auto;
  position: relative;
  z-index: 10;
}

@media (min-width: 45rem) {
  .carrousel-container {
    margin: 10px auto 0 auto;
  }
}

.carrousel-container .button-nav {
  width: 5%;
  cursor: pointer;
}

.owl-carousel {
  width: 90% !important;
}

.owl-carousel span {
  width: 100%;
  text-align: center;
  font-size: 19px;
}

.owl-carousel .carrousel-item {
  background-color: #10549F;
  margin: 10px;
  padding: 20px;
  min-height: 377px;
}

@media (min-width: 45rem) {
  .owl-carousel .carrousel-item {
    min-height: 388px;
  }
}

.owl-carousel .carrousel-item p {
  font-size: 14px;
  line-height: 15px;
  margin-top: 16px;
}

.owl-carousel .carrousel-item .image-cropper {
  height: 115px;
  width: 115px;
  margin: 0 auto;
}

.testimony .backgroundVideo {
  background: url("../../img/bogota-5.jpg") center no-repeat;
  background-size: cover;
}

.testimony .section-content {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
}

.testimony h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

.testimony .Header {
  -webkit-box-pack: normal;
  -webkit-justify-content: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  min-height: 100vh;
}

.testimony .Services {
  display: none;
}

.testimony .BarNav {
  z-index: 11;
}

.testimony .backgroundVideo {
  z-index: 0;
  height: 50%;
}

.testimony .section-content {
  z-index: 10;
  max-width: 920px;
}

.faq .backgroundVideo {
  background: url("../../img/bogota-5.jpg") center no-repeat;
  background-size: cover;
}

.faq .section-content {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
}

.faq h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

.faq .section-content {
  z-index: 10;
  max-width: 920px;
}

.faq .accordion-container {
  padding: 24px;
  background-color: rgba(59, 85, 119, 0.33);
}

.faq .accordion-container button.accordion.active {
  background-color: rgba(16, 205, 236, 0.41);
}

.faq .accordion-container button.accordion.active:after {
  content: "\23EB";
}

.faq .accordion-container button.accordion.active:hover {
  background-color: rgba(16, 205, 236, 0.41);
}

.faq .accordion-container button.accordion {
  padding: 13px;
  width: 100%;
  border: none;
  text-align: left;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: rgba(42, 42, 42, 0.33);
  border-top: 2px solid white;
  cursor: pointer;
  color: white;
  font-size: 20px;
  transition: 0.4s;
}

.faq .accordion-container .accordion:after {
  content: '\23EC';
  font-size: 27px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.faq .accordion-container .accordion:hover {
  background-color: rgba(16, 205, 236, 0.41);
}

.faq .accordion-container .panel p {
  margin: 10px 2px 10px 25px;
}

.faq .accordion-container div.panel {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  opacity: 0;
}

.faq .accordion-container div.panel.show {
  opacity: 1;
  max-height: 500px;
}

.faq .Services {
  display: none;
}

.faq .BarNav {
  z-index: 11;
}

.faq .backgroundVideo {
  z-index: 0;
}

body.faq, body.documents, body.terms {
  background-color: #141414;
}

.documents .backgroundVideo, .terms .backgroundVideo {
  background: url("../../img/Bogota.jpg") center no-repeat;
  background-size: cover;
}

.documents .section-content, .terms .section-content {
  max-width: 800px;
  margin: 0 auto;
  color: #212121;
}

.documents h1, .terms h1 {
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

.documents .section-content, .terms .section-content {
  z-index: 10;
  max-width: 920px;
}

.documents .documentos-container, .terms .documentos-container {
  padding: 24px;
  background-color: rgba(255, 255, 255, 0.73);
}

.documents .documentos-container li, .terms .documentos-container li {
  list-style: initial;
}

.documents .documentos-container a, .terms .documentos-container a {
  color: blue;
}

.documents .documentos-container .subtitle, .terms .documentos-container .subtitle {
  color: #444;
  font-weight: bold;
  font-style: oblique;
}

.documents .Services, .terms .Services {
  display: none;
}

.documents .BarNav, .terms .BarNav {
  z-index: 11;
}

.documents .backgroundVideo, .terms .backgroundVideo {
  z-index: 0;
}

.whoweare .backgroundVideo {
  background: url("../../img/bogota-5.jpg") center no-repeat;
  background-size: cover;
}

.whoweare .section-content {
  max-width: 800px;
  margin: 0 auto;
  color: #fff;
}

.whoweare .section-content p {
  font-size: 1rem;
  margin-top: 0rem;
  text-align: justify;
}

@media (min-width: 45rem) {
  .whoweare .section-content p {
    margin-top: 6rem;
    font-size: 1.1rem;
  }
}

@media (min-width: 65rem) {
  .whoweare .section-content p {
    margin-top: 7rem;
    font-size: 1.1rem;
  }
}

.whoweare h1 {
  text-align: center;
  font-size: 1.8rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

@media (min-width: 45rem) {
  .whoweare h1 {
    font-size: 2.5rem;
  }
}

.contact .contact-cols, .contactPost .contact-cols {
  margin-top: 0.5rem;
  width: 100%;
}

@media (min-width: 45rem) {
  .contact .contact-cols, .contactPost .contact-cols {
    margin-top: 3.5rem;
  }
}

.contact .contact-cols img, .contactPost .contact-cols img {
  width: 40px !important;
}

.contact .contact-cols span, .contactPost .contact-cols span {
  margin-left: 5px;
}

.contact .contact-cols div, .contactPost .contact-cols div {
  padding: 5px;
}

.contact .Services, .contactPost .Services {
  display: none;
}

.contact .backgroundVideo, .contactPost .backgroundVideo {
  background: url("../../img/bogota-5.jpg") center no-repeat;
  background-size: cover;
}

.contact .section-content, .contactPost .section-content {
  max-width: 800px;
  margin: 0 auto;
  margin-top: -100px;
  color: #fff;
  height: 99vh;
}

.contact h1, .contactPost h1 {
  margin-top: 6rem;
  text-align: center;
  font-size: 2.5rem;
  color: white;
  font-weight: 400;
  width: 100%;
}

@media (min-width: 45rem) {
  .contact h1, .contactPost h1 {
    text-align: center;
    margin-top: 8rem;
  }
}

.contact p, .contactPost p {
  font-size: 1.1rem;
  text-align: center;
  width: 100%;
}

.contact .BarNav, .contactPost .BarNav {
  z-index: 10;
}

.contact .formulario-contacto, .contactPost .formulario-contacto {
  padding: 40px 30px;
  background-color: #EFA53C;
}

.contact .item-contacto, .contactPost .item-contacto {
  margin-bottom: 5px;
}

.contact .item-contacto span, .contactPost .item-contacto span {
  padding: 5px;
  font-weight: 600;
}

.contact .error-message, .contactPost .error-message {
  width: 100%;
  background-color: #b95959;
}

.contact .success-message, .contactPost .success-message {
  width: 100%;
  background-color: #59b95a;
}

.contact .success-message p, .contactPost .success-message p {
  font-size: 1.3rem;
}

.contact .help-us .message, .contactPost .help-us .message {
  padding: 10px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
